@using Client.ViewModels.Employee;
@model Client.ViewModels.LeaveRequest.UpdateStatusRequestVM
@{
    ViewData["Title"] = "ApproveStatuss";
    Layout = "_LayoutLeaveRequest";
}


<section id="basic-horizontal-layouts">
    <div class="row match-height d-flex justify-content-center">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" >Leave Application Form</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-action="ApproveStatuss" id="approveForm" method="post" data-parsley-validate>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="FullName" class="control-label">Full Name</label>
                                <div class="input-group">

                                    <input asp-for="FullName" class="form-control" disabled />
                                </div>
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NIK" class="control-label">NIK</label>
                                <div class="input-group">

                                    <input asp-for="NIK" class="form-control" disabled />
                                </div>
                                <span asp-validation-for="NIK" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Remarks" class="control-label">Remarks</label>
                                <div class="input-group">

                                    <input asp-for="Remarks" class="form-control" disabled />
                                </div>
                                <span asp-validation-for="Remarks" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="SubmitDate" class="control-label">Submit Date</label>
                                <div class="input-group">

                                    <input asp-for="SubmitDate" class="form-control" type="date" disabled />
                                </div>
                                <span asp-validation-for="SubmitDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="StartDate" class="control-label">Start Date</label>
                                <div class="input-group">

                                    <input asp-for="StartDate" class="form-control" type="date" disabled />
                                </div>
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="EndDate" class="control-label">End Date</label>
                                <div class="input-group">
                                    <input asp-for="EndDate" class="form-control" type="date" disabled />
                                </div>
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Attachment" class="control-label">Attachment</label>
                                <div class="input-group">
                                    @if (!string.IsNullOrEmpty(Model.Attachment))
                                    {
                                        <a href="@Model.Attachment" target="_blank" class="btn btn-primary" id="openImageBtn">View Attachment</a>
                                    }
                                    else
                                    {
                                        <p class="text-danger">No attachment inserted</p>
                                    }
                                </div>
                            </div>

                            <div class="form-group" hidden>
                                <label asp-for="Guid" class="control-label"></label>
                                <input asp-for="Guid" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Status" class="control-label">Status</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-primary"><i class="bi bi-person-check-fill" style="height: 25px;"></i></span>
                                    </div>
                                    <select asp-for="Status" class="form-control custom-select">
                                        <option value="0" class="text-warning">Pending</option>
                                        <option value="2" class="text-danger">Rejected</option>
                                        <option value="3" class="text-success">Approved</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                        <div>
                            <a asp-action="GetByManager">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <!-- Add this line in the head section of your HTML file -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("approveForm");

            form.addEventListener("submit", function (event) {
                event.preventDefault(); 

                Swal.fire({
                    icon: "success",
                    title: "Success!",
                    text: "Your action has been successfully",
                    confirmButtonText: "OK",
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    } else {
                    }
                });
            });
        });
    </script>
   
}
