@using Client.ViewModels.Employee;
@model Client.ViewModels.Employee.AddEmployeeVM

@{
    Layout = "_LayoutEmployee";
    var emailMessage = TempData["EmailError"] as string;
    var phoneMessage = TempData["PhoneError"] as string;
}

<!-- Basic Horizontal form layout section start -->
    <section id="basic-horizontal-layouts">
    <div class="row match-height d-flex justify-content-center">
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Horizontal Form with Icons</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                        <form action="Create" method="post" data-parsley-validate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>First Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                <input asp-for="FirstName" class="form-control" placeholder="First Name"
                                                       id="first-name-column" data-parsley-required="true" />
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-person"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Last Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                <input asp-for="LastName" class="form-control" placeholder="Last Name"
                                                       id="first-name-icon" />
                                                    <div class="form-control-icon">
                                                    <i class="bi bi-person-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-md-4">
                                        <label>Gender</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="d-flex">
                                                <div class="form-check me-4">
                                                    <input class="form-check-input" type="radio" asp-for="Gender" value="1" />
                                                    <label class="form-check-label" asp-for="Gender" >
                                                        Male
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" asp-for="Gender" value="0" />
                                                    <label class="form-check-label" asp-for="Gender">
                                                        Female
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-md-4">
                                        <label>Eligible Leave</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                <input type="number" asp-for="EligibleLeave" class="form-control" data-parsley-required="true">
                                                    <div class="form-control-icon">
                                                    <i class="bi bi-box-seam"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-md-4">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" data-parsley-required="true" data-parsley-error-message="Must be a number in + format" data-parsley-pattern="^\+\d+$">
                                                <div class="form-control-icon">
                                                    <i class="bi bi-phone"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Hiring Date</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                <input asp-for="HiringDate" class="form-control" type="date" data-parsley-required="true">
                                                <div class="form-control-icon">
                                                    <i class="bi bi-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Manager</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                <select asp-for="ManagerGuid" class="form-select" id="validationCustom02">
                                                    <option value="">Null</option>
                                                    @{
                                                        foreach (var item in (IEnumerable<ManagerVM>)ViewData["Managers"])
                                                        {
                                                            <option value="@item.Guid">@item.NIK - @item.FullName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-md-4">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                <input type="email" asp-for="Email" class="form-control" placeholder="Email" data-parsley-required="true" data-parsley-type="email" data-parsley-error-message="Please enter a valid email address"
                                                        id="first-name-icon">
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-envelope"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Password</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                <input asp-for="Password" class="form-control" placeholder="Password" data-parsley-required="true" data-parsley-pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{6,20}$" data-parsley-error-message="Password must be 6-20 characters long and contain at least one uppercase letter, one number, and one special character.">
                                                <div class="form-control-icon">
                                                        <i class="bi bi-lock"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                        <label>Confirm Password</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" data-parsley-required="true" data-parsley-equalto="#Password">
                                                <div class="form-control-icon">
                                                    <i class="bi bi-lock-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                            <button type="reset"
                                                class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Basic Horizontal form layout section end -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @if (!string.IsNullOrEmpty(emailMessage))
    {
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                toastr.options = {
                    "positionClass": "toast-top-right",
                    "closeButton": true,
                    "progressBar": true,
                    "timeOut": 3000
                };
                toastr.error('@emailMessage');
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(phoneMessage))
    {
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                toastr.options = {
                    "positionClass": "toast-top-right",
                    "closeButton": true,
                    "progressBar": true,
                    "timeOut": 3000
                };
                toastr.error('@phoneMessage');
            });
        </script>
    }
}

    